:root {
    --primary-color: #e44b3a;
    --secondary-color: #f16529;
    --success-color: #1bc98e;
    --info-color: #8950fc;
    --warning-color: #ffc107;
    --danger-color: #e54d42;
    --light-color: #f4f6f9;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-gradient-primary {
    background: var(--primary-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--primary-color) 0%,
        var(--primary-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-gradient-secondary {
    background: var(--secondary-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--secondary-color) 0%,
        var(--secondary-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.bg-success {
    background-color: var(--success-color) !important;
}
.bg-gradient-success {
    background: var(--success-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--success-color) 0%,
        var(--success-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.bg-info {
    background-color: var(--info-color) !important;
}
.bg-gradient-info {
    background: var(--info-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--info-color) 0%,
        var(--info-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.bg-danger {
    background-color: var(--danger-color) !important;
}
.bg-gradient-danger {
    background: var(--danger-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--danger-color) 0%,
        var(--danger-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.bg-warning {
    background-color: var(--warning-color) !important;
}
.bg-gradient-warning {
    background: var(--warning-color) !important;
    background-image: linear-gradient(
        180deg,
        var(--warning-color) 0%,
        var(--warning-color) 100%
    ) !important;
    background-repeat: no-repeat !important;
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-success {
    color: var(--success-color) !important;
}
.text-info {
    color: var(--info-color) !important;
}
.text-danger {
    color: var(--danger-color) !important;
}
.text-warning {
    color: var(--warning-color) !important;
}
.text-light {
    color: var(--light-color) !important;
}
